<!DOCTYPE html>
<html lang="fr">

<%- include('./base/head') %>

  <body>

    <!-- Navbar -->
    <%- include('./base/navbar') %>

    <%- content %>

    <%- include('./base/script') %>
  </body>

</html>