<% extend('./base_supervisor') %>

  <div class="container mt-5 mb-5 border border-secondary rounded">

    <div class="card shadow-sm" style="transition: transform 0.2s ease-in-out;">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="mb-5 text-center">
            Données du formulaire
          </h2>
          <a href="/supervisor" class="btn btn-outline-danger">
            <i class="fas fa-arrow-left"></i>
            Retour
          </a>
        </div>
        <hr>

        <div class="row">
          <table class="table table-hover">
            <thead class="table-dark text-center">
              <tr>
                <th>#</th>
                <th>Date d'envoi</th>
                <th>Données</th>
              </tr>
            </thead>
            <tbody class="fs-4">
              <% for (s of sessions) { %>
                <tr class="text-center">
                  <th>
                    <%= sessions.indexOf(s) + 1 %>
                  </th>
                  <td>
                    <span class="badge bg-secondary text-light">
                      <%= moment(s.createdAt).format('DD/MM/YYYY HH:mm') %>
                    </span>
                  </td>
                  <td>
                    <a href="/supervisor/show_session/<%= s.formUuid %>/<%= s.sessionUuid %>" 
                      class="btn btn-outline-primary">
                      <i class="fas fa-eye"></i>
                    </a>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>